<div class="container">
  <h1>Lista de post</h1>
  <%= link_to 'Nuevo post', new_post_path %>
  <% @posts.each do |post| %>
    <div class="row mt-5">
      <div class="col-10 offset-1">
        <h1><%= link_to post.title, post_path(post) %></h1> 
        <div class="text-muted">Publicado por user@exanple.com hace menos de 1 minuto</div>
        <p class="mt-3"><%= post.body %></p>
        <%= link_to 'Editar', edit_post_path(post) %>
        <%= link_to 'Eliminar', post_path(post), method: :delete, data: {confirm: 'Estas seguro ?'}, class: "pl-3"%>
      </div>
    </div>
  <% end %>
</div>
